.shipsTracker {
  font-size: 2rem;
  text-align: center;
  overflow: hidden;

  display: flex;
  flex-flow: column;
}

.row {
  pointer-events: none;

  display: flex;
  transition: all .4s linear;
  justify-content: space-between;
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.cell {
  width: 6rem;
  height: 6rem;
  background-color: #d9d9d9;
}

.ship {
  display: flex;
  transition: all .3s linear;
  & .cell:not(:last-child) {
    border-right: 1px solid black;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.center {
  align-self: center;
}

.one_1 {
  .ship:nth-child(-n+1) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}

.one_2 {
  .ship:nth-child(-n+2) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.one_3 {
  .ship:nth-child(-n+3) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.one_4 {
  .ship:nth-child(-n+4) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}

.two_1 {
  .ship:nth-child(-n+1) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}

.two_2 {
  .ship:nth-child(-n+2) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.two_3 {
  .ship:nth-child(-n+3) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.three_1 {
  .ship:nth-child(-n+1) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.three_2 {
  .ship:nth-child(-n+2) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.three_2 {
  .ship:nth-child(-n+2) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.four_1 {
  .ship:nth-child(-n+1) {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
}
