.default {
  flex: 1;
  background-color: rgba(242, 160, 110, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    box-shadow: inset 0 0 2rem gray;
  }
}

.borderCell {
  cursor: default;
  background-color: lightgoldenrodyellow;
}

.hidden {
  visibility: hidden;
}

.attacked {
  background-color: orangered;
}

.ship {
  background-color: #0e7712;
}

.unavailable {
  background-color: rgb(133, 0, 6);
  cursor: not-allowed;
}

.invalid {
  background-color: red;
}
