.page {
  display: flex;
  background: url(../../../assets/s1200.jpg) 100% 100% no-repeat;
}

.side {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
}

.username {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.sections {
  display: flex;
}

.ships {
  flex: 60%;
  padding-right: 4rem;
}

.rules {
  flex: 40%;
  background-color: #777777;
}
