.gamePage {
  display: flex;
  flex-flow: column;
  background: url(../../../assets/s1200.jpg) 100% 100% no-repeat;
}

header {
  background-color: #737373;
  height: 10vh;
}

.gameSections {
  display: flex;
}

.playerSide {
  flex: 50%;
  background-color: #af5b5e;
  display: flex;
  justify-content: center;
}

.enemySide {
  flex: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
}
