.field {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all .2s linear;
}

.row {
  display: flex;
  flex: 1;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.full {
  padding: 2rem;
}

.small {
  padding: 8rem;
}
